
.button, .button-cart{
    text-decoration: none;
}

.button-cart{
    border: 1px solid none;
    background-color: #262626;
    border-radius: 5px;
    padding: 4px 15px;
    transition: 0.7s ease;
}

.button-cart>i{
    color: white;
}

.button-cart:hover{
    background-color: #ff6159;
}

.button{
    border: 1px solid none;
    border-radius: 30px;
    background-color: #262626;
    color: white;
    padding: 5px 15px;
    transition: 0.5s ease;
}

.button:hover{
    background-color: #ff6159;
    color: white;
    padding: 5px 17px;
}

.mini-wrapper{
    margin: 0px 10px;
}

